In [81]:
import numpy as np
import pandas as pd

In [82]:
df = pd.read_csv('cars.csv')

In [138]:
def unique(series):
    return len(series.unique())

def count0(series):
    frequencies = series.value_counts().to_dict()
    return frequencies.get(0, 0)

def count_positive(series):
    return sum(i > 0 for i in series.values)

def count_negative(series):
    return sum(i < 0 for i in series.values)

columns = ['Type',
               'Density'
               'No. of Values', 
               'No. of Unique Values', 
               'No. of NaN',
               'No. of Zeros',
               'No. of +ve Value',
               'No. of -ve Value',
               'Min',
               'Max',
               'Mean',
               'Std',
               'Median', 
               'Mode',
               'Skewness',
               'Kurtosis']
    
def describe2(df):
    df = df.select_dtypes(exclude=['object', 'bool'])
    
    description = pd.DataFrame()
    
    description['Type'], description['Density'] = df.ftypes.str.split(':').str
    description['No. of Values'] = df.apply(len, axis=0)
    description['No. of Unique Values'] = df.apply(unique, axis=0)
    description['No. of NaN'] = description['No. of Values'] - df.count(axis=0)
    description['No. of Zeros'] = df.apply(count0, axis=0)
    description['No. of +ve Value'] = df.apply(count_positive, axis=0)
    description['No. of -ve Value'] = df.apply(count_negative, axis=0)
    
    return description

describe2(df)

,Type,Density,No. of Values,No. of Unique Values,No. of NaN,No. of Zeros,No. of +ve Value,No. of -ve Value
YEAR,int64,dense,53,5,0,0,53,0
(kW),int64,dense,53,15,0,0,53,0
CITY (kWh/100 km),float64,dense,53,19,0,0,53,0
HWY (kWh/100 km),float64,dense,53,19,0,0,53,0
COMB (kWh/100 km),float64,dense,53,19,0,0,53,0
CITY (Le/100 km),float64,dense,53,10,0,0,53,0
HWY (Le/100 km),float64,dense,53,6,0,0,53,0
COMB (Le/100 km),float64,dense,53,8,0,0,53,0
(g/km),int64,dense,53,1,0,53,0,0
(km),int64,dense,53,19,0,0,53,0
TIME (h),int64,dense,53,7,0,0,53,0